# API Backend
EXPO_PUBLIC_API_URL=https://api.cademetro.com.br

# Google AdMob - Controle Geral
# Define se os anúncios estão ativos no aplicativo
EXPO_PUBLIC_ADS_ENABLED=true

# Ativa/Desativa o modo de teste (em desenvolvimento deve ser true para evitar penalizações de tráfego inválido)
EXPO_PUBLIC_ADS_TEST_MODE=true

# Habilita ou desabilita anúncios intersticiais com frequency capping (cooldown de 7 min)
EXPO_PUBLIC_ENABLE_INTERSTITIALS=false

# Google AdMob - Unidades de Produção (Android)
# Deixe em branco para usar automaticamente as unidades oficiais de teste do Google
EXPO_PUBLIC_ADMOB_BANNER_ID_ANDROID=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID_ANDROID=

# Google AdMob - Unidades de Produção (iOS)
# Deixe em branco para usar automaticamente as unidades oficiais de teste do Google
EXPO_PUBLIC_ADMOB_BANNER_ID_IOS=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID_IOS=
